<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Hide token notice */
._21CZuiHaIdalQl-Mfgbqes {
  display: none;
}

/* Hide missing asset notice */
._2pCd-JEJ0wWkhJ7yb82ubq {
  display: none;
}

/* Hide footer disclaimer */
._1DDzsT5Q4Hxa9CB27A1O3K {
  display: none;
}
</style>
<!-- end Simple Custom CSS and JS -->
